body{
    font-size: 16pt;
    line-height: 1.5;
    font-family: 'M PLUS 1p' ,'FreeSans', sans-serif; 
}


p {
    text-align: justify;
    page-break-inside: avoid !important;
}


td, th {
    border: 1px solid silver;
    padding: 0.3em;
    vertical-align: top;
}
 
 
table{
    border: 1px solid silver;
    border-collapse: collapse;
    font-size: 70%;
    margin: 0 auto;

    margin-top: 1em;
    margin-bottom: 1em;
    
    width: 95vw !important;
    page-break-inside: avoid !important;
} 
 
 
.infobox{
    display: table !important;
    width: 95vw !important;
    margin: 0 auto;
}


img, .thumb, .thumbinner, .thumbimage{
    text-align: center;
}


.thumb {
    margin: 10pt;
}


.thumbcaption {
    font-size: 90%;
}

li {
page-break-inside: avoid !important;
}

ul, ol {
    font-size: 90%;
}


dl, dd {
    width: 90vw;
    text-align: center;
    margin: 0 auto;
    font-size: 95%;
}


.mwe-math-element{
    text-align: center;
    margin: 0 auto;
}


.mwe-math-fallback-image-inline{
    text-align: center;
    margin: 0 auto;
}


hr {
    visibility: hidden;
}
